<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>node Project</title>
    <link rel="stylesheet" href="stylesheets/main.css">
</head>
<body>
    <form action="auth" method="post">
        <div id="message"><% if(!message == null) { %> <%=message%> <% } %></div>W
        <div class="group">
            <label for="email_address">Email Address</label>
            <input type="email" name="email_address" id="email_address">
        </div>

        <div class="group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>

        <button id="signIn" class="btn">Sign In</button>

    </form>
</body>
</html>